{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>
            <div class="badge badge-info">
                You have not enough money - shortage: {{ shortage }} {{ user.getUserProfile().getCurrency() }}
            </div>
        </h1>
    </div>
{% endblock %}
