{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>
            <div class="badge badge-info">
                You tried to add in the cart a product, which you own!
            </div>
        </h1>
    </div>
{% endblock %}