{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Congratulations! You successfully bought this products and paid {{ cartBill }} {{ user.getUserProfile.getCurrency }}
    </h1>
{% endblock %}