{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cart</h1>

    {% for addInCart in addsInCart %}
        {{ addInCart.getProduct().getName() }} {{ addInCart.getproduct().getPrice() }} {{ addInCart.getProduct().getCurrency() }}
    {% endfor %}
    
{% endblock %}
