{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">
        <span class="btn btn-info btn-lg btn-block">
        <h1>Promotions</h1>
        </span>
        <br/>
        <div class="row">
            {% for promotion in promotions %}
                <div class="col-md-6">
                    <div class="container">
                        <div class="jumbotron">
                            <h3>
                                <span class="badge badge-warning">
                                <a href="{{ path('promotion_show', { 'id': promotion.id }) }}">
                                    {{ promotion.name }}
                                </a>
                                </span>
                            </h3>
                            <h1>
                                <span class="badge badge-primary">
                                Discount: {{ promotion.percentsDiscount }}%!
                                </span>
                            </h1>

                            <br/>

                            {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin()) %}
                                <a href="{{ path('promotion_edit', { 'id': promotion.id }) }}">
                                    <button type="button" class="btn btn-danger">
                                        Edit
                                    </button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
