{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userprofiles list</h1>

    <table>
        <thead>
            <tr>
                <th>Purchasecount</th>
                <th>Isseller</th>
                <th>Salescount</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        {% for userProfile in userProfiles %}
            <tr>
                <td>{{ userProfile.purchaseCount }}</td>
                <td>{% if userProfile.isSeller %}Yes{% else %}No{% endif %}</td>
                <td>{{ userProfile.salesCount }}</td>
                <td>{{ userProfile.rating }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
