{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Currency</h1>
    </span>
    <br/>

    <h1>
        <span class="badge badge-secondary">{{ currency.name }}</span> - <span class="badge badge-secondary">{{ currency.exchangeRateEUR }} euro </span>
    </h1>

    <a href="{{ path('currency_index') }}">
        <button type="button" class="btn btn-success">
            Show all currencies
        </button>
    </a>

    {% if app.getUser() and (app.getUser().isAdmin() or app.getUser().isSuperAdmin()) %}
        <a href="{{ path('currency_edit', { 'id': currency.id }) }}">
            <button type="button" class="btn btn-danger">
                Edit
            </button></a>
        <br/><br/>
    {% endif %}
</div>
{% endblock %}
