{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
    <span class="btn btn-info btn-lg btn-block">
        <h1>Instructions list</h1>
    </span>
        <br/>

        <div class="container body-content">
            {% for instruction in instructions %}
                <div class="row">
                    <div class="container-fluid">
                        <div class="col-md-6">
                            <h1>
                                <a href="{{ path('instruction_show', { 'id': instruction.id }) }}">
                                    <span class="badge badge-secondary">
                                        {{ instruction.name }}
                                    </span>
                                </a>
                            </h1>
                            <a href="{{ path('instruction_edit', { 'id': instruction.id }) }}">
                                <button type="button" class="btn btn-danger">
                                    Edit
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <br/><br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
