{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content">

        <h1>
        <span class="btn btn-info btn-lg btn-block">
            Users
        </span>
        </h1>

        {% for comment in comments %}
            <div class="row">
                <div class="container">
                    <div class="jumbotron">
                        <h2>
                            <span class="badge badge-info">
                                {{ comment.content }}
                            </span>
                            <a href="{{ path('product_show', { 'id': comment.product.id }) }}">
                                <button type="button" class="btn btn-success">
                                    View in context
                                </button>
                            </a>
                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">
                                <button type="button" class="btn btn-danger">
                                    Edit
                                </button>
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
